<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/layout/basic.html}" lang="en">

<div layout:fragment="title">
    <!-- Page top section -->
    <section class="page-top-section set-bg" data-setbg="/img/header-bg/5.jpg">
        <div class="container">
            <h2>Exercise List</h2>
        </div>
    </section>
    <!-- Page top section end -->
</div>
<div layout:fragment="content">
    <section class="elements-section">
        <div class="container">
            <div class="element">
                <h2 class="el-title">List</h2>
                <div class="container mb-1">
                    <!--검색-->
                    <form action="/exercise/list" method="get">
                        <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
                        <div class="input-group"
                             style="width: 100%;flex-wrap:nowrap; align-content: flex-end; align-items: baseline">
                            <div class="input-group mb-3" style="width:15%">
                                <select class="custom-select my-1 mr-sm-2" id="type" name="type">
                                    <option value="">전체</option>
                                    <option value="b" th:selected="${pageRequestDTO.type=='b'}">등</option>
                                    <option value="c" th:selected="${pageRequestDTO.type=='c'}">가슴</option>
                                    <option value="s" th:selected="${pageRequestDTO.type=='s'}">어깨</option>
                                    <option value="a" th:selected="${pageRequestDTO.type=='a'}">팔</option>
                                    <option value="f" th:selected="${pageRequestDTO.type=='f'}">전면 하체</option>
                                    <option value="h" th:selected="${pageRequestDTO.type=='h'}">후면 하체</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" name="keyword" class="form-control" placeholder="Search Title" th:value="${pageRequestDTO.keyword}">
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="submit"><i
                                            class="fa-solid fa-magnifying-glass"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!--갤러리 게시판 목록-->
                <div class="container" >
                    <div class="row" >
                        <!-- Gallery Item 1 -->
                        <div class="col-md-3 mb-4" th:each="dto:${responseDTO.dtoList}" th:if="${responseDTO.dtoList.size()>0}">
                            <div class="card gallery-card text-center">
                                <a th:href="|@{/exercise/view(eno=${dto.eno})}&${pageRequestDTO.getLink()}|">
                                    <img th:each="fileDTO:${fileDTOList}" th:if="${fileDTO.image && fileDTO.thumbnail && fileDTO.exercise.eno == dto.eno} "th:src="|/exercise/display/${fileDTO.getLink(dto.eno)}|" class="card-img-top thumb-image">
                                    <video th:each="fileDTO:${fileDTOList}" th:if="${fileDTO.thumbnail && fileDTO.exercise.eno == dto.eno && !fileDTO.image}" preload="metadata" th:src="|/exercise/display/${fileDTO.getLink(dto.eno)}|" class="card-img-top thumb-image"></video>
                                    <div class="card-body" id="listCardBody">
                                        <h5 class="card-title" id="listTitle">[[${dto.title}]]</h5>
                                        <p class="card-text" id="visitCount">조회수 : [[${dto.visitcount}]]</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4" th:if="${responseDTO.dtoList==null}">
                            <h4>등록된 게시물이 없습니다.</h4>
                        </div>
                    </div>
                    <!--페이징 및 글쓰기 버튼-->
                    <div style="display: flex; justify-content: center;">
                        <div class="Page navigation" style="display: inline-block">
                            <ul class="pagination flex-wrap">
                                <li class="page-item" th:if="${responseDTO.prev}">
                                    <a class="page-link" th:data-num="${responseDTO.start -1}">Prev</a>
                                </li>
                                <th:block th:each="i:${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                                    <li th:class="${responseDTO.page == i} ? 'page-item active' : 'page-item'" th:if="${i!=0}">
                                        <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                                    </li>
                                </th:block>
                                <li class="page-item" th:if="${responseDTO.next}">
                                    <a class="page-link" th:data-num="${responseDTO.end +1}">next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <form action="/exercise/register" method="get">
                        <div class="float-end" style="text-align: right">
                            <button class="btn btn-primary" type="submit">글쓰기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<script layout:fragment="script" th:inline="javascript">
    document.querySelector(".pagination").addEventListener("click", function (e) {
        e.preventDefault();
        e.stopPropagation();
        const target = e.target;
        if (target.tagName != 'A') {
            return
        }
        const num = target.getAttribute("data-num");
        //self.length="/board/list?bno="+num
        const formOjb = document.querySelector("form")
        formOjb.innerHTML += `<input type=hidden name='page' value='${num}'>`
        formOjb.submit();
    }, false)
</script>
