<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic.html}"
      lang="en">
<div layout:fragment="title">
    <!-- Page top section -->
    <section class="page-top-section set-bg" data-setbg="/img/header-bg/5.jpg">
        <div class="container">
            <h2>Exercise Info Register</h2>
        </div>
    </section>
    <!-- Page top section end -->
</div>
<div layout:fragment="content">
    <section class="elements-section">
        <div class="container">
            <div class="element">
                <form action="/exercise/register" method="post" enctype="multipart/form-data">
                    <div>
                        <span>제 목</span>
                        <input type="text" name="title" placeholder="Title">
                    </div>
                    <div>
                        <span>내 용</span>
                        <textarea class="form-control col-sm-5" rows="5" name="content"
                                  placeholder="Content"></textarea>
                    </div>
                    <div>
                        <span>파 일</span>
                        <input type="file" name="files" multiple>
                    </div>
                    <div>
                        <span>운동부위</span>
                        <select class="form-select" name="part">
                            <option value="">---</option>
                            <option value="b">등</option>
                            <option value="c">가슴</option>
                            <option value="s">어깨</option>
                            <option value="a">팔</option>
                            <option value="f">전면 하체</option>
                            <option value="h">후면 하체</option>
                        </select>
                    </div>
                    <div class="my-4">
                        <div class="float-end">
                            <button class="btn btn-primary" type="submit">글쓰기</button>
                            <button class="btn btn-secondary" type="reset">목록</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
