<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/layout/basic.html}" lang="en">

<div layout:fragment="title">
    <!-- Page top section -->
    <section class="page-top-section set-bg" data-setbg="/img/header-bg/4.jpg">
        <div class="container">
            <h2>Exercise Guide</h2>
        </div>
    </section>
    <!-- Page top section end -->
</div>
<div layout:fragment="content">
    <section class="elements-section">
        <div class="container">
            <div class="element">
                <div class="review-view-con" style="border-bottom: 1px solid #0d0d0d;">
                    <div class="d-flex justify-content-end mb-2 mt-2 w-100">
                        <button class="btn btn-outline-dark" onclick="location.href='/exercise/list'">
                            목록
                        </button>
                        <th:block sec:authorize="hasAuthority('관리자')">
                            <a th:href="|@{/exercise/modify(eno=${exerciseDTO.eno})}&${link}|">
                                <button class="btn btn-outline-dark ml-3">
                                    수정
                                </button>
                            </a>
                            <a th:href="|@{/exercise/remove(eno=${exerciseDTO.eno})}|">
                                <button class="btn btn-outline-danger ml-3">
                                    삭제
                                </button>
                            </a>
                        </th:block>
                    </div>
                    <div class="qna-view-q">
                        <!-- 상단부 -->
                        <div class="qna-view-q-title p-4">
                            <div class="d-flex justify-content-between review-view-q-title-top">
                                <div>
                                    <h3>[[${exerciseDTO.title}]]</h3>
                                    <p>운동부위 : [[${exerciseDTO.changePart(exerciseDTO.part)}]]</p>
                                </div>
                                <div>
                                    <span>게시일 : [[${exerciseDTO.localDateFormat()}]]</span>
                                    <span>조회수 : [[${exerciseDTO.visitcount}]]</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="qna-view-q-content" style="text-align: center; padding: 2rem 2rem 2rem 2rem;">
                        <div>
                            <p class="card-text" style="color : black; font-size: 20px" id="post-content">
                                [[${exerciseDTO.content}]]</p>
                            <th:block th:each="fileDTO:${fileDTOList}">
                                <img class="view-image" th:if="${fileDTO.image}"
                                     th:src="|/exercise/display/${fileDTO.getSaveFileName(fileDTO.filename,fileDTO.uuid)}|">
                                <video class="view-image" th:if="${!fileDTO.image}" controls preload="metadata"
                                       th:src="|/exercise/display/${fileDTO.getSaveFileName(fileDTO.filename,fileDTO.uuid)}|+'#t=0.5'">
                                    <source th:src="|/exercise/display/${fileDTO.getSaveFileName(fileDTO.filename,fileDTO.uuid)}|">
                                </video>
                            </th:block>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
<script layout:fragment="script" th:inline="javascript">

</script>