<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic.html}" lang="en">

<div layout:fragment="title">
    <!-- Page top section -->
    <section class="page-top-section set-bg" data-setbg="/img/header-bg/5.jpg">
        <div class="container">
            <h2>Exercise View</h2>
        </div>
    </section>
    <!-- Page top section end -->
</div>
<div layout:fragment="content">
    <section class="elements-section">
        <div class="container">
            <div class="element">
                <h2 class="el-title">View</h2>
                <div id="gallery-post" class="card mb-3">
                    <div class="card-header">
                        <h5 class="card-title" id="post-title">[[${exerciseDTO.title}]]</h5>
                        <p class="card-text">운동부위 : [[${exerciseDTO.changePart(exerciseDTO.part)}]]</p>
                    </div>
                    <div class="card-body" style="text-align: center">
                        <p class="card-text" style="color : black" id="post-content">[[${exerciseDTO.content}]]</p>
                        <div th:each="fileDTO:${fileDTOList}">
                            <img th:if="${fileDTO.image}" th:src="|/exercise/display/${fileDTO.getSaveFileName(fileDTO.filename,fileDTO.uuid)}|">
                        </div>
                    </div>
                    <div class="card-footer" style="text-align: right">
                        <small class="text-muted" id="post-details">게시일: [[${exerciseDTO.localDateFormat()}]] | 조회수 : [[${exerciseDTO.visitcount}]]</small>
                    </div>
                </div>

                <div align="right" th:with="link=${pageRequestDTO.getLink()}">
                    <a th:href="|@{/exercise/modify(eno=${exerciseDTO.eno})}&${link}|" class="btn btn-primary">수정하기</a>
                    <a th:href="|@{/exercise/remove(eno=${exerciseDTO.eno})}|" class="btn btn-danger">삭제하기</a>
                    <a th:href="|@{/exercise/list}?${link}|" type="button" class="btn btn-secondary">뒤로가기</a>
                </div>
            </div>
        </div>
    </section>
</div>
<script layout:fragment="script" th:inline="javascript">
    document.querySelector('.btn-secondary').addEventListener('click',function (e){
        console.log("클릭")
        e.preventDefault();
        const link=[[${pageRequestDTO.getLink()}]]
        self.location=`/exercise/list?${link}`
    })
</script>