<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>P.T 예약</title>
</head>

<html>

<form action="/pttime/trainer" method="get">
    <h1>P.T 예약</h1>
    <div align="center">
        <button class="btn btn-outline-secondary clearBtn" type="button" relative="top">돌아가기</button>
    </div>
    &nbsp
    <table border="10" align="center" height="200">
        <tr>
            <th>
                <img src="/img/ptimage/1.png" class="rounded-circle" alt="Cinque Terre" width="300" height="300">
                <h2>트레이너1</h2>
                <button class="btn btn-outline-secondary clearBtn" type="button" onClick="location.href='/pttime/calendar'">예약하기</button>
            </th>
            <th>
                <img src="/img/ptimage/2.png" class="rounded-circle" alt="Cinque Terre" width="300" height="300">
                <h2>트레이너2</h2>
                <button class="btn btn-outline-secondary clearBtn" type="button" onClick="location.href='/pttime/calendar'">예약하기</button>
            </th>
        </tr>
        <tr>
            <th>
                <img src="/img/ptimage/3.png" class="rounded-circle" alt="Cinque Terre" width="300" height="300">
                <h2>트레이너3</h2>
                <button class="btn btn-outline-secondary clearBtn" type="button" onClick="location.href='/pttime/calendar'">예약하기</button>
            </th>
            <th>
                <img src="/img/ptimage/4.png" class="rounded-circle" alt="Cinque Terre" width="300" height="300">
                <h2>트레이너4</h2>
                <button class="btn btn-outline-secondary clearBtn" type="button" onClick="location.href='/pttime/calendar'">예약하기</button>
            </th>
        </tr>
        <tr>
            <th>
                <img src="/img/ptimage/5.png" class="rounded-circle" alt="Cinque Terre" width="300" height="300">
                <h2>트레이너5</h2>
                <button class="btn btn-outline-secondary clearBtn" type="button" onClick="location.href='/pttime/calendar'">예약하기</button>
            </th>
            <th>
                <img src="/img/ptimage/6.png" class="rounded-circle" alt="Cinque Terre" width="300" height="300">
                <h2>트레이너6</h2>
                <button class="btn btn-outline-secondary clearBtn" type="button" onClick="location.href='/pttime/calendar'">예약하기</button>
            </th>
        </tr>
        <tr>
            <th>
                <img src="/img/ptimage/7.png" class="rounded-circle" alt="Cinque Terre" width="300" height="300">
                <h2>트레이너7</h2>
                <button class="btn btn-outline-secondary clearBtn" type="button" onClick="location.href='/pttime/calendar'">예약하기</button>
            </th>
            <th>
                <img src="/img/ptimage/8.png" class="rounded-circle" alt="Cinque Terre" width="300" height="300">
                <h2>트레이너8</h2>
                <button class="btn btn-outline-secondary clearBtn" type="button" onClick="location.href='/pttime/calendar'">예약하기</button>
            </th>
        </tr>
    </table>
    &nbsp
    <div align="center">
        <button class="btn btn-outline-secondary clearBtn" type="button" relative="top">돌아가기</button>
    </div>
</form>
</html>

