<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminBasic.html}">

<div layout:fragment="title">
    <!-- Page top section -->
    <section class="page-top-section set-bg" data-setbg="/img/header-bg/5.jpg">
        <div class="container">
            <h2>Member Management</h2>
        </div>
    </section>
    <!-- Page top section end -->
</div>
<div layout:fragment="content">
    <section class="elements-section">
        <div class="container">
            <div class="element">
                <h2 class="el-title text-center"> Member List </h2>
                <table class="table table-lg text-center mb-0 memberlist-table member-list-table">
                    <thead>
                    <tr>
                        <td colspan="6">
                            <div class="col d-flex justify-content-between">
                                <form action="/loginProcess" method="post" class="w-50">
                                    <div class="d-flex">
                                        <tbody>
                                        <tr th:each="member:${list}">
                                            <td>[[${member.mno}]]</td>
                                            <td><a th:href="|@{/admin/memberview(mno=${member.mno})}|">[[${member.mname}]]</a>
                                            </td>
                                            <td>[[${member.role}]]</td>
                                        </tr>
                                        </tbody>
                                    </div>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </section>
</div>