<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic.html}"
      lang="en">


<div layout:fragment="title">
    <!-- Page top section -->
    <section class="page-top-section set-bg" data-setbg="/img/header-bg/5.jpg">
        <div class="container">
            <h2>회원정보수정</h2>
        </div>
    </section>
    <!-- Page top section end -->
</div>
<div layout:fragment="content">
    <section class="elements-section">
        <div class="container">
            <div class="element">
                <h2 class="el-title text-center">회원정보 수정</h2>
                <table class="table table-lg text-center mb-0 qna-table">
                    <form th:action="@{/admin/membermodify}" id="memberModifyForm" method="post">
                        <input type="hidden" th:value="${member.mno}" name="mno">
                        <tr>
                            <th class="align-middle member-phone">연락처</th>
                            <td>
                                <input type="text" id="phone" name="phone" class="form-control form-control"
                                       placeholder="연락처를 입력하세요." th:value="${member.phone}">
                            </td>
                        </tr>
                        <tr>
                            <th class="align-middle member-endDate">회원권 만료날짜</th>
                            <td>
                                <input type="text" id="endDate" name="endDate" class="form-control form-control w-50"
                                       placeholder="날짜를 입력하세요." th:value="${#dates.format(member.endDate, 'yyyy-MM-dd')}">
                            </td>
                        </tr>
                        <tr>
                            <th class="align-middle member-role">회원등급</th>
                            <td>
                                <input type="text" id="role" name="role" class="form-control form-control w-50"
                                       th:value="${member.role}">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button type="submit" id="submitBtn" class="btn btn-outline-dark pl-5 pr-5">
                                    수정하기
                                </button>
                                <button type="button" class="btn btn-outline-dark pl-5 pr-5"
                                        onclick="location.href='/admin/'">
                                    목록으로
                                </button>
                            </td>
                        </tr>
                    </form>
                </table>
            </div>
        </div>
    </section>
    <!-- Elements section end -->
</div>
<script layout:fragment="script" th:inline="javascript">
    // function updateInfo() {
    //     // 각각의 필드에 대한 값을 가져옵니다.
    //     var phoneValue = document.getElementById('phone').value;
    //     var endDateValue = document.getElementById('endDate').value;
    //     var roleValue = document.getElementById('role').value;
    //
    //     // 서버로 전송할 데이터를 준비합니다.
    //     var dataToSend = {
    //         phone: phoneValue,
    //         endDate: endDateValue,
    //         role: roleValue
    //     };
    //
    //     $.ajax({
    //         type: 'POST',
    //         url: '/admin/membermodify',
    //         data: dataToSend,
    //         success: function (response) {
    //             console.log('회원정보 수정 성공');
    //             document.getElementById('submitBtn').innerHTML = '수정완료';
    //         },
    //         error: function (error) {
    //             console.log('회원정보 수정 실패');
    //         }
    //     });
    // }

</script>