<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/adminBasic.html}"
      lang="en">

<div layout:fragment="title">
    <!-- Page top section -->
    <section class="page-top-section set-bg" data-setbg="/img/header-bg/5.jpg">
        <div class="container">
            <h2>Member Info</h2>
        </div>
    </section>
    <!-- Page top section end -->
</div>

<div layout:fragment="content">
    <section class="elements-section">
        <div class="container">
            <div class="element">
                <h2 class="card-title" align="center">회원상세정보</h2>
                <table class="table tabl-lg text-center mb-0 qna-table">
                    <tr>
                        <th class="align-middle member-no">회원번호</th>
                        <td>
                            <input type="text" class="form-control form-control" id="mno"
                                   th:value="${member.mno}" name="mno" readonly>
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle member-name">이름</th>
                        <td>
                            <input type="text" class="form-control form-control" id="mname"
                                   th:value="${member.mname}" name="mname" readonly>
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle member-phone">연락처</th>
                        <td>
                            <input type="text" class="form-control form-control" id="phone"
                                   th:value="${member.phone}" name="phone" readonly>
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle member-gender">성별</th>
                        <td>
                            <input type="text" class="form-control form-control" id="gender"
                                   th:value="${member.gender}" name="gender" readonly>
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle member-regDate">등록일자</th>
                        <td>
                            <input type="text" class="form-control form-control" id="regDate"
                                   th:value="${#dates.format(member.regDate, 'yyyy-MM-dd')}" name="regDate" readonly>
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle member-endDate">만료일자</th>
                        <td>
                            <input type="text" class="form-control form-control" id="endDate"
                                   th:value="${#dates.format(member.endDate, 'yyyy-MM-dd')}" name="endDate" readonly>
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle member-role">회원등급</th>
                        <td>
                            <input type="text" class="form-control form-control" id="role"
                                   th:value="${member.role}" name="role" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a th:href="|@{/admin/membermodify(mno=${member.mno})}|">
                                <button type="button" id="submitBtn" class="btn btn-outline-dark pl-5 pr-5">수정하기
                                </button>
                            </a>
                            <a th:href="|@{/admin/remove(mno=${member.mno})}|">
                                <button type="button" class="btn btn-danger pl-5 pr-5">삭제하기</button>
                            </a>
                            <a th:href="|@{/admin/memberlist}|">
                                <button type="button" class="btn-outline-dark pl-5 pr-5">목록으로</button>
                            </a>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </section>
</div>