<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/layout/basic.html}"
      lang="en">


<div layout:fragment="title">
    <!-- Page top section -->
    <section class="page-top-section set-bg" data-setbg="/img/header-bg/5.jpg">
        <div class="container">
            <h2>리뷰 게시판</h2>
        </div>
    </section>
    <!-- Page top section end -->
</div>
<div layout:fragment="content">
    <section class="elements-section">
        <div class="container">
            <div class="element">
                <h2 class="el-title text-center">리뷰작성</h2>
                <table class="table table-lg text-center mb-0 qna-table">
                    <form action="/review/register" id="reviewForm" method="post" enctype="multipart/form-data">
<!--                        <input type="hidden" name="writer" th:value="${principal.getName()}">-->
                        <tr>
                            <th class="align-middle qna-title">제목</th>
                            <td>
                                <input type="text" id="title" name="title" class="form-control form-control"
                                       placeholder="제목을 입력하세요.">
                            </td>
                        </tr>
                        <tr>
                            <th class="align-middle qna-title">이름</th>
                            <td>
                                <th:block sec:authorize="isAnonymous()">
                                    <input type="text" name="writer" class="form-control form-control w-50"
                                           placeholder="이름을 입력하세요.">
                                </th:block>
                                <th:block sec:authorize="isAuthenticated()">
                                    <input type="text" name="writer" class="form-control form-control w-50"
                                           th:value="${#authentication.name}" readonly>
                                </th:block>
                            </td>
                        </tr>
                        <tr>
                            <th class="align-middle qna-title">내용</th>
                            <td>
                                <textarea rows="10" class="form-control" placeholder="내용을 입력하세요"
                                          name="content" id="content" style="resize: none"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th class="align-middle qna-title">파일</th>
                            <td>
                                <div class="file_list">
                                    <div>
                                        <div class="file_input filebox text-left">
                                            <input class="upload-name" value="첨부파일" placeholder="첨부파일" readonly>
                                            <label>파일찾기
                                                <input type="file" name="files" onchange="selectFile(this)">
                                            </label>
                                            <button type="button" class="btn btn-outline-info" onclick="addFile()">
                                                <i class="fa-solid fa-circle-plus" style="color: #33b5e5;"></i> 추가
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button type="button" id="submitBtn" class="btn btn-outline-dark pl-5 pr-5">
                                    작성
                                </button>
                                <button type="button" class="btn btn-outline-dark pl-5 pr-5" onclick="location.href='/review/list'">
                                    목록
                                </button>
                            </td>
                        </tr>
                    </form>
                </table>
            </div>
        </div>
    </section>
    <!-- Elements section end -->
</div>
<script layout:fragment="script" th:inline="javascript">
    $("#submitBtn").click(function (e) {
        e.preventDefault();
        var formData = new FormData($("#reviewForm")[0]);
        const fileFormName = "files"
        formData.delete(fileFormName)

        var inputFile = $("input[name='files']");

        if (inputFile.val() !== "" && inputFile.val() !== null) { // 파일이 있으면
            console.log("인풋 파일 확인 : " + inputFile.val())
            var files;

            for (var i = 0; i < inputFile.length; i++) {
                if(inputFile[i].value != null && inputFile[i].value !== "") {
                    files = inputFile[i].files;
                    console.log("files 확인 : " + files[0].name)
                    formData.append("files", files[0]);
                }
            }
        }

        fetch('/review/register', {
            method: 'POST',
            body: formData // body 부분에 폼데이터 변수를 할당
        }).then((response) => {
            // response.json()
            console.log("response : " + response)
            location.href= "/review/list";
        })
    })

    // 파일 선택
    function selectFile(element) {
        const file = element.files[0];
        const filename = element.closest('.file_input').firstElementChild;

        // 1. 파일 선택 창에서 취소 버튼이 클릭된 경우
        if (!file) {
            filename.value = '';
            return false;
        }

        // 2. 파일 크기가 10MB를 초과하는 경우
        const fileSize = Math.floor(file.size / 1024 / 1024);
        if (fileSize > 10) {
            alert('10MB 이하의 파일로 업로드해 주세요.');
            filename.value = '';
            element.value = '';
            return false;
        }

        var regex = new RegExp("(.*?)\.(exe|sh|zip|alz)")
        if (regex.test(filename)) {
            alert("해당 종류의 파일은 업로드할 수 없습니다.");
            return false;
        }

        // 4. 파일명 지정
        filename.value = file.name;
    }


    // 파일 추가
    function addFile() {
        const fileDiv = document.createElement('div');
        const fileListClass = document.querySelector('.file_list')
        fileDiv.innerHTML = `
            <div class="file_input filebox text-left mt-3">
                <input class="upload-name" value="첨부파일" placeholder="첨부파일" readonly>
                <label>파일찾기
                    <input type="file" name="files" onchange="selectFile(this)">
                </label>
                <button type="button" class="btn btn-outline-danger" onclick="removeFile(this)">
                    <i class="fa-solid fa-circle-minus" style="color: #ff3547;"></i> 삭제
                </button>
            </div>
        `;
        if (fileListClass.childElementCount < 5) {
            fileListClass.appendChild(fileDiv);
        } else {
            alert("파일은 5개까지 업로드 할 수 있습니다.");
        }
    }

    // 파일 삭제
    function removeFile(element) {
        const fileAddBtn = element.nextElementSibling;
        if (fileAddBtn) {
            const inputs = element.previousElementSibling.querySelectorAll('input');
            inputs.forEach(input => input.value = '')
            return false;
        }
        element.parentElement.parentElement.remove();
    }
</script>