<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>리뷰 게시판</title>
</head>

<form action="/review/reviewmain" method="get">
    <header>
        <h1>
            <a align="left">이미지랑 클릭시 홈페이지로 설정</a>
            <a style="align:center">클릭시 넘어가는 네비바들</a>
            <a align="right">로그인 로그 아웃 구현</a>
        </h1>
    </header>

    <section id="main">
        <article id="article1">
<!--            <iframe name="iframe1" src="main.php" width="1000px" height="700px" seamless></iframe>-->
        </article>
    </section>
    <footer>footer</footer>
</form>
</html>