<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic.html}"
      lang="en">


<div layout:fragment="title">
    <!-- Page top section -->
    <section class="page-top-section set-bg" data-setbg="/img/header-bg/5.jpg">
        <div class="container">
            <h2>Review</h2>
        </div>
    </section>
    <!-- Page top section end -->
</div>
<div layout:fragment="content">
    <section class="elements-section">
        <div class="container">
            <div class="element">
                <div class="review-view-con">
                    <!-- 버튼부 -->
                    <div class="d-flex justify-content-end mb-3 w-100">
                        <button class="btn btn-outline-dark" onclick="location.href='/review/list'">
                            목록
                        </button>
                        <th:block th:if="${reviewDTO.writer == #authentication.name}">
                            <a th:href="|@{/review/modify(rno=${reviewDTO.rno})}&${pageRequestDTO.getLink()}|">
                                <button class="btn btn-outline-dark ml-3">
                                    수정
                                </button>
                            </a>
                            <a th:href="|@{/review/remove(rno=${reviewDTO.rno})}|">
                                <button class="btn btn-outline-danger ml-3">
                                    삭제
                                </button>
                            </a>
                        </th:block>
                    </div>
                    <div class="qna-view-q">
                        <!-- 상단부 -->
                        <div class="qna-view-q-title">
                            <div class="d-flex justify-content-between review-view-q-title-top">
                                <div>
                                    <h3>[[${reviewDTO.title}]]</h3>
                                </div>
                                <div>
                                    <span th:if="${reviewDTO.regDate > reviewDTO.modDate}"
                                          th:text="'작성 '+${#temporals.format(reviewDTO.regDate, 'YYYY-MM-DD')}"></span>
                                    <span th:if="${reviewDTO.regDate < reviewDTO.modDate} "
                                          th:text="'수정 '+${#temporals.format(reviewDTO.modDate, 'YYYY-MM-DD')}"></span>
                                    <span class="ml-3">작성자 [[${reviewDTO.writer}]]</span>
                                </div>
                            </div>
                        </div>
                        <div class="qna-view-q-content">
                            [[${reviewDTO.content}]]
                        </div>
                        <div class="qna-view-q-file">
                            <div class="list-group">
                                <th:block th:each="file:${fileDTOList}">
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <span>[[${file.filename}]]</span>
                                        <span><i class="fa-solid fa-link"></i></span>
                                    </a>
                                </th:block>
                            </div>
                        </div>
                        <div class="row mb-3 justify-content-center reactionBtn">

                        </div>
                    </div>
                    <!--Reply 영역-->
                    <div class="comments-container">
                        <div class="comment-input mt-4">
                            <textarea rows="2" class="form-control reply-text" placeholder="댓글을 입력하세요."
                                      name="replyContent" id="replyContent" style="resize: none"></textarea>
                            <button type="button" id="submitBtn" class="btn btn-outline-dark pl-5 pr-5">
                                작성
                            </button>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div>
                                    <ul class="list-group replyList">
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex mt-3 justify-content-center">
                            <ul class="pagination flex-wrap replyPaging">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Elements section end -->
</div>

<script layout:fragment="script" th:inline="javascript">
    const rno = [[${reviewDTO.rno}]]
    const writer = [[${#authentication.name}]]
    const content = document.querySelector('#replyContent')
    const replyList = document.querySelector('.replyList')


    //페이지네이션
    function printPages(data) {
        let pageStr = '';
        if (data.prev) {
            pageStr += `<li class="page-item"><a class="page-link" data-page="${data.start - 1}">PREV</a></li>`
        }

        for (let i = data.start; i <= data.end; i++) {
            pageStr += `<li class="page-item ${i == data.page ? "active" : ""} "><a class="page-link" data-page="${i}">${i}</a></li>`
        }
        if (data.next) {
            pageStr += `<li class="page-item"><a class="page-link" data-page="${data.end + 1}">NEXT</a></li>`
        }
        document.querySelector('.replyPaging').innerHTML = pageStr
    }

    //페이지네이션 클릭
    document.querySelector('.replyPaging').addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()
        const target = e.target
        if(!target || target.tagName != 'A'){
            return
        }
        const pageNum = target.getAttribute("data-page")
        page = pageNum
        printReplies(page, 10)
    },false)
    // 리플 리스트 출력
    function printList(dtoList) {
        let str = `<li class="list-group-item d-flex replItem">
                    <span class="col-1 text-center">번호</span>
                    <span class="col-5 text-center">내용</span>
                    <span class="col-2 text-center">작성자</span>
                    <span class="col-3 text-center">작성일</span>
                    <span class="col-1">`;
        const TIME_ZONE = 9 * 60 * 60 * 1000; // 9시간
        if (dtoList && dtoList.length > 0) {
            for (const dto of dtoList) {
                const date = new Date(dto.regDate);
                var regDate = new Date(date.getTime() + TIME_ZONE).toISOString().replace('T', ' ').slice(0, -5)
                str += `<li class="list-group-item d-flex replItem">
                      <span class="col-1 text-center">${dto.rrno}</span>
                      <span class="col-5">${dto.content}</span>
                      <span class="col-2 text-center">${dto.writer}</span>
                      <span class="col-3 text-center">${regDate} </span>
                      <span class="col-1">
<!--                        <button class="btn btn-outline-dark mb-1">답글</button>-->
                        <button class="btn btn-outline-dark removeBtn" onclick="remove(${dto.rrno})">삭제</button>
                      </span>
                    </li>`
            }
        }
        replyList.innerHTML = str;
    }
    //리플 출력 함수
    function printReplies(page, size, goLast) {
        // function printReplies() {

        getList({rno, page, size, goLast}).then(
            // getList(rno).then(
            data => {
                printList(data.dtoList) //목록 처리
                printPages(data) //페이지 처리
            }
        ).catch(e => {
            console.error(e)
        })
    }
    printReplies(0, 10, true)


    //댓글 등록
    $("#submitBtn").click(function (e) {
        const replyObj = {
            rno: rno,
            content: content.value,
            writer: writer
        }
        addReply(replyObj).then(result => {
            alert(result)
            printReplies(0, 10, true)
            content.value = '';
            // printReplies()
        }).catch(e => {
            alert("Error")
        })
    })

    //댓글 삭제
    function remove(rrno) {
        deleteReply(rrno).then(result => {
            page = 1
            printReplies(page, 10)

        }).catch(e => {
            alert("Error")
        })
    }


    //공감 표시 확인 및 공감 수
    var bestCount = [[${reviewDTO.bestCount}]]
    const bestStat=[[${best}]]
    console.log("best : "+bestStat)
    function printReactionBtn(reaction) {
        let str = '';
        console.log("reaction : " + reaction)
        if (reaction=='true') {
            str += `<button class="btn btn-outline-dark removeBtn" onclick="worstReaction(${rno})">
                     <i class="fa-solid fa-heart-circle-check" style="color: #ff6464;"></i>
                     ${bestCount}
                     </button>`
        }else {
            str += `<button class="btn btn-outline-dark removeBtn" onclick="bestReaction(${rno})">
                     <i class="fa-solid fa-heart-circle-plus"></i>
                     ${bestCount}
                     </button>`
        }
        document.querySelector('.reactionBtn').innerHTML = str
    }
    if(bestStat){
        printReactionBtn('true')
    }else{
        printReactionBtn('false')
    }
    //좋아요
    function bestReaction(rno){
        best(rno).then(result=>{
            console.log("result : "+result)
            bestCount = result
            printReactionBtn('true')
        }).catch(e=>{
            console.log("best error")
        })
    }
    //취소
    function worstReaction(rno){
        worst(rno).then(result=>{
            console.log("result : "+result)
            bestCount = result
            printReactionBtn('false')
        }).catch(e=>{
            console.log("worst error")
        })
    }
</script>