<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="en">
<head>
    <title>1ST GYMS~</title>
    <meta charset="UTF-8">
    <meta name="description" content="X Gym Fitness HTML Template">
    <meta name="keywords" content="fitness, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link th:href="@{/img/favicon.ico}" rel="shortcut icon"/>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <!--    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>-->
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/flaticon.css}"/>
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}">
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/font-awesome.css}">-->

    <!-- our project just needs Font Awesome Solid + Brands -->
    <link th:href="@{/assets/fontawesome-free-6.5.1-web/css/fontawesome.css}" rel="stylesheet">
    <link th:href="@{/assets/fontawesome-free-6.5.1-web/css/brands.css}" rel="stylesheet">
    <link th:href="@{/assets/fontawesome-free-6.5.1-web/css/solid.css}" rel="stylesheet">

    <!-- Main Stylesheets -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/templatemo-training-studio.css}">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- MDB 부트스트랩 -->
    <!--    <link rel="stylesheet" th:href="@{/assets/MDB-Free_4.20.0/css/mdb.min.css}">-->
    <!-- Plugin file -->
    <link rel="stylesheet" th:href="@{/assets/MDB-Free_4.20.0/css/addons/datatables.min.css}">
    <link rel="stylesheet" th:href="@{/assets/MDB-Free_4.20.0/css/style.css}">
    <script type="text/javascript" th:src="@{/assets/MDB-Free_4.20.0/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/MDB-Free_4.20.0/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/MDB-Free_4.20.0/js/mdb.min.js}"></script>
    <!-- Plugin file -->
    <script th:src="@{/assets/MDB-Free_4.20.0/js/addons/datatables.min.js}"></script>

    <!-- 전부 완성하고 메인 stylesheet로 이동 예정 -->
    <link rel="stylesheet" th:href="@{/css/qnastyle.css}">
</head>
<body>

<!-- Page Preloder -->
<!--<div id="preloder">-->
<!--    <div class="loader"></div>-->
<!--</div>-->

<!--***** Preloader Start *****-->
<div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ***** Preloader End ***** -->
<header class="header-section background-header">
    <a href="/" class="site-logo">
        <img th:src="@{/img/thumbnail.png}" alt="">
    </a>
    <ul class="main-menu">
        <li><a href="/QnA/list">Q&A</a></li>
        <li><a href="/review/list">Review</a></li>
        <li><a href="/exercise/list">Exercise Guide</a></li>
        <li><a href="/foodInfo/info">Food Info</a></li>
        <li sec:authorize="hasAnyAuthority('VIP','관리자')"><a href="/ptreserve/trainer">P.T. Reserve</a></li>
        <li sec:authorize="isAuthenticated()"><a href="/member/mypage" >My Page</a></li>
        <li class="header-right" sec:authorize="!isAuthenticated()">
            <div class="hr-box" id="joinMember">
                <i class="fa-solid fa-user"></i>&nbsp;&nbsp;
                <h6>Member Login</h6>
            </div>
        </li>
        <li class="header-right" sec:authorize="isAuthenticated()">
            <div class="hr-box" id="logout">
                <i class="fa-solid fa-user"></i>&nbsp;&nbsp;
                <!--                로그아웃 기능은 하나 LogOut 글자가 검은색이 되버림-->
                <h6>LogOut</h6>
            </div>
        </li>
    </ul>
</header>
<!--<div class="clearfix"></div>-->
<!-- ***** Header Area End ***** -->
<div style="height: 94px; background-color: #38386e"></div>
<!-- ***** Main Banner Area Start ***** -->
<div layout:fragment="title"></div>
<div>
    <ul class="nav justify-content-center shadow-sm font-weight-bold">
        <li class="nav-item">
            <a class="nav-link admin-nav" href="/admin/">회원 관리</a>
        </li>
        <li class="nav-item">
            <a class="nav-link admin-nav" href="/admin/qnalist">Q&A 관리</a>
        </li>
    </ul>
</div>
<div layout:fragment="content"></div>


<!-- jQuery -->
<script th:src="@{/assets/js/jquery-2.1.0.min.js}"></script>

<!-- Bootstrap -->
<script th:src="@{/assets/js/popper.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>

<!-- Plugins -->
<script th:src="@{/assets/js/scrollreveal.min.js}"></script>
<script th:src="@{/assets/js/waypoints.min.js}"></script>
<script th:src="@{/assets/js/jquery.counterup.min.js}"></script>
<script th:src="@{/assets/js/imgfix.min.js}"></script>
<script th:src="@{/assets/js/mixitup.js}"></script>
<script th:src="@{/assets/js/accordions.js}"></script>

<!-- Global Init -->
<script th:src="@{/assets/js/custom.js}"></script>

<!--====== Javascripts & Jquery ======-->
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.slicknav.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/circle-progress.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/reviewReply.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>



<!-- Footer section end -->
<th:block layout:fragment="script">

</th:block>

</body>
</html>