<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">
<head>
    <title>1ST GYMS~</title>
    <meta charset="UTF-8">
    <meta name="description" content="X Gym Fitness HTML Template">
    <meta name="keywords" content="fitness, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link th:href="@{/img/favicon.ico}" rel="shortcut icon"/>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/flaticon.css}"/>
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/font-awesome.css}">

    <!-- Main Stylesheets -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/templatemo-training-studio.css}">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- ***** Preloader Start *****-->
<div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ***** Preloader End ***** -->
<header class="header-section background-header">
    <a href="home.html" class="site-logo">
        <img src="/img/logo.png" alt="">
    </a>
    <ul class="main-menu">
        <li><a class="active" href="index.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="classes.html">Classes</a></li>
        <li><a href="blog.html">News</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li class="header-right">
            <div class="hr-box">
                <img src="img/location-icon.png" alt="">
                <h6>1525  Amazing Lane, Los Angeles, CA</h6>
            </div>
        </li>
    </ul>
</header>
<div class="clearfix"></div>
<!-- ***** Header Area End ***** -->

<!-- ***** Main Banner Area Start ***** -->
<div layout:fragment="title"></div>
<section class="section">
    <div class="container" layout:fragment="content">
    </div>
</section>
<!-- ***** Main Banner Area End ***** -->

<!-- Footer section -->
<footer class="footer-section set-bg" data-setbg="/img/footer-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h4>Location</h4>
                    <div class="fw-info-box">
                        <img src="img/icons/1.png" alt="">
                        <div class="fw-info-text">
                            <p>1525  Awesome Lane, Los Angeles, CA</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h4>Subscriptions</h4>
                    <div class="fw-info-box">
                        <img src="img/icons/2.png" alt="">
                        <div class="fw-info-text">
                            <p>+1 (603)535-4592</p>
                            <p>+1 (603)535-4556</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h4>E-mail</h4>
                    <div class="fw-info-box">
                        <img src="img/icons/3.png" alt="">
                        <div class="fw-info-text">
                            <p>Contact@xgym.com</p>
                            <p>www.xgym.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h4>Social Media</h4>
                    <div class="fw-info-box">
                        <img src="img/icons/4.png" alt="">
                        <div class="social-links">
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 order-2 order-md-1">
                <div class="copyright"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <ul class="footer-menu">
                    <li><a href="">Home</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Classes</a></li>
                    <li><a href="">News</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Footer section end -->
<th:block layout:fragment="script">

</th:block>









<!-- jQuery -->
<script th:src="@{/assets/js/jquery-2.1.0.min.js}"></script>

<!-- Bootstrap -->
<script th:src="@{/assets/js/popper.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>

<!-- Plugins -->
<script th:src="@{/assets/js/scrollreveal.min.js}"></script>
<script th:src="@{/assets/js/waypoints.min.js}"></script>
<script th:src="@{/assets/js/jquery.counterup.min.js}"></script>
<script th:src="@{/assets/js/imgfix.min.js}"></script>
<script th:src="@{/assets/js/mixitup.js}"></script>
<script th:src="@{/assets/js/accordions.js}"></script>

<!-- Global Init -->
<script th:src="@{/assets/js/custom.js}"></script>

<!--====== Javascripts & Jquery ======-->
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.slicknav.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/circle-progress.min.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>
</html>