<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic.html}"
      lang="en">
<div layout:fragment="title">
    <!-- Page top section -->
    <section class="page-top-section set-bg" data-setbg="/img/header-bg/5.jpg">
        <div class="container">
            <h2>영양정보</h2>
        </div>
    </section>
    <!-- Page top section end -->
</div>
<div layout:fragment="content">
    <section class="elements-section">
        <div class="container">
            <div class="element d-flex flex-column align-items-center">
                <h2 class="el-title">음식 검색</h2>
                <div class="d-flex w-75 justify-content-center">
<!--                    <form action="/foodInfo/info" method="get">-->
                        <input type="text" id="foodKeyword" class="form-control form-control-lg mr-3">
                        <button type="submit" id="foodSearchSubmit" class="btn set-bg-color btn-lg pl-5 pr-5">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
<!--                    </form>-->
                </div>
            </div>
            <div class="element" id="foodSearchResultCon" style="display: none">
                <h2 class="el-title text-center">검색 결과</h2>
                <div id="foodSearchResult" class="d-flex justify-content-center">

                </div>
                <button type="button"></button>
            </div>
        </div>
    </section>
    <!-- Elements section end -->
</div>

<script layout:fragment="script" th:inline="javascript">
    const foodSearchResultCon = $("#foodSearchResultCon")
    const foodSearchResult = $("#foodSearchResult")
    console.log("여기 들어왔음");
    $("#foodSearchSubmit").click( function (e) {
        var str = "";
        e.preventDefault();
        const data = {keyword:$("#foodKeyword").val()};
        console.log("keyword : " + data.keyword)
        $.ajax({
            url:"/foodInfo/info/"+data.keyword,
            type:"GET",
            dataType:"JSON", // 받는 타입
            data:data.keyword
            // contentType:"application/json",
            // data : JSON.stringify(data),
        }).done(function (resp) {
            console.log("성공")
            console.log("resp : " + resp)
            foodSearchResultCon.show();
            str += `<table class="table table-bordered text-center w-75 table-responsive">
                        <thead>
                        <tr>
                            <th style="width: 7%">#</th>
                            <th>식품명</th>
                            <th>칼로리</th>
                            <th>단백질</th>
                            <th>지방</th>
                            <th>탄수화물</th>
                        </tr>
                        </thead><tbody><form action="/foodInfo/select" method="post">`
            $.each(resp, function (key, val) {
                console.log(key)
                console.log(val)
                str += `<tr>
                            <td class="d-flex align-items-center justify-content-center">
                                <input type="checkbox"
                                 class="form-check-input position-static m-0"
                                 style="zoom: 2.0; margin-top: 3px"
                                 name="foodSelect" value="`+val.fno+`">
                            </td>
                            <td>`+val.fname+`</td>
                            <td>`+val.kcal+`</td>
                            <td>`+val.protein+`</td>
                            <td>`+val.province+`</td>
                            <td>`+val.carbohydrate+`</td>
                        </tr> `
            });
            str += `</form></tbody></table>`
            foodSearchResult.html(str);
        }).fail(function () {
            console.log("실패")
        })
    })
</script>