<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/layout/basic.html}"
      lang="en">


<div layout:fragment="title">
    <!-- Page top section -->
    <section class="page-top-section set-bg" data-setbg="/img/header-bg/5.jpg">
        <div class="container">
            <h2>Q&A</h2>
        </div>
    </section>
    <!-- Page top section end -->
</div>
<div layout:fragment="content">
    <section class="elements-section">
        <div class="container">
            <div class="d-flex justify-content-end mb-3 w-100">
                <button class="btn btn-outline-dark" onclick="location.href='/admin/qnalist'">
                    목록
                </button>
            </div>
            <div class="qna-view-q">
                <!-- 상단부 -->
                <div class="qna-view-q-title">
                    <div class="d-flex justify-content-between qna-view-q-title-top">
                        <th:block th:if="${dto.answer == false}">
                            <div class="rounded-lg p-1 pl-2 pr-2 align-middle"
                                 style="background-color: #eee; border: 1px solid #eee">
                                답변대기
                            </div>
                        </th:block>
                        <th:block th:unless="${dto.answer == false}">
                            <div class="rounded-lg border border-success p-1 pl-2 pr-2 align-middle"
                                 style="background-color: #d5f5dc;">
                                답변완료
                            </div>
                        </th:block>
                        <div>
                            <span th:text="${#temporals.format(dto.writedate, 'YYYY-MM-DD')}"></span>
                            <span class="ml-3">작성자 [[${dto.writer}]]</span>
                        </div>
                    </div>
                    <div>
                        <h3>[[${dto.title}]]</h3>
                    </div>
                </div>
                <div class="qna-view-q-content">
                    [[${dto.content}]]
                </div>
                <div class="qna-view-q-file">
                    <div class="list-group">
                        <th:block th:each="file:${fileList}">
                            <a href="#" class="list-group-item list-group-item-action">
                                <span>[[${file.filename}]]</span>
                                <span><i class="fa-solid fa-link"></i></span>
                            </a>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="element">
                <h2 class="el-title text-center">답변작성</h2>
                <table class="table table-lg text-center mb-0 qna-table">
                    <form action="/QnA/answer/register" id="qnaForm" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="writer" th:value="${#authentication.name}">
                        <input type="hidden" name="qnabno" th:value="${dto.qnabno}">
                        <tr>
                            <th class="align-middle qna-title">제목</th>
                            <td>
                                <input type="text" id="title" name="title" class="form-control form-control"
                                       th:value="'RE:'+${dto.title}" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th class="align-middle qna-title">내용</th>
                            <td>
                                <textarea rows="10" class="form-control" placeholder="내용을 입력하세요"
                                          name="content" id="content" style="resize: none" required></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button type="submit" id="submitBtn" class="btn btn-outline-dark pl-5 pr-5">
                                    작성
                                </button>
                            </td>
                        </tr>
                    </form>
                </table>
            </div>
        </div>
    </section>
    <!-- Elements section end -->
</div>

<script layout:fragment="script" th:inline="javascript">
</script>