<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">
    <div class="container">
    <h2> 회원가입 </h2>
        <form action="/member/register" method="post">
            <div class="form-group mt-3">
                <span> 아이디 </span>
                <input type="text" name="id" placeholder="ID를 입력하세요">
            </div>
            <div class="form-group mt-3">
                <span> 비밀번호 </span>
                <input type="password" name="pass">
            </div>
            <div class="form-group mt-3">
                <span> 이름 </span>
                <input type="text" name="mname" placeholder="이름을 입력하세요">
            </div>
            <div class="form-group mt-3">
                <span> 연락처 </span>
                <input type="text" name="phone" placeholder="연락처를 입력하세요">
            </div>
            <div class="form-group mt-3">
                <span> 나이 </span>
                <input type="text" name="age" placeholder="나이을 입력하세요">
            </div>
            <div class="form-group mt-3">
                <span> 성별 </span>
                <label><input type="checkbox" name="gender" value="남"> 남 </label>
                <label><input type="checkbox" name="gender" value="여"> 여 </label>
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Register</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </form>
    </div>
</div>
