<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="title">
    <!-- Page top section -->
    <section class="page-top-section set-bg" data-setbg="/img/header-bg/5.jpg">
        <div class="container">
            <h2>Join</h2>
        </div>
    </section>
    <!-- Page top section end -->
</div>

<div layout:fragment="content">
    <section class="elements-section">
        <div class="container">
            <div class="element">
                <div class="card" style="width: 40rem; margin: 0 auto">
                    <div class="card-body">
                        <h2 class="card-title">회원가입</h2>
                        <form action="/member/register" method="post">
                            <div class="form-group mt-3">
                                <span> 아이디 </span>
                                <input type="text" class="form-control" name="mId" placeholder="ID를 입력하세요">
                            </div>
                            <div class="form-group mt-3">
                                <span> 비밀번호 </span>
                                <input type="password" class="form-control" name="pass">
                            </div>
                            <div class="form-group mt-3">
                                <span> 이름 </span>
                                <input type="text" class="form-control" name="mname" placeholder="이름을 입력하세요">
                            </div>
                            <div class="form-group mt-3">
                                <span> 연락처 </span>
                                <input type="text" class="form-control" name="phone" placeholder="연락처를 입력하세요">
                            </div>
                            <div class="form-group mt-3">
                                <span> 나이 </span>
                                <input type="text" class="form-control" name="age" placeholder="나이을 입력하세요">
                            </div>
                            <div class="form-group mt-3">
                                <span> 성별 </span>
                                <div class="d-flex">
                                    <div class="form-check mr-3">
                                        <input type="checkbox" class="form-check-input" id="남" name="gender" value="남">
                                        <label class="form-check-label" for="남">남</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="여" name="gender" value="여">
                                        <label class="form-check-label" for="여">여</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <button type="submit" class="btn btn-primary">Register</button>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
