<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="title">
    <!-- Page top section -->
    <section class="page-top-section set-bg" data-setbg="/img/header-bg/5.jpg">
        <div class="container">
            <h2>My Info</h2>
        </div>
    </section>
    <!-- Page top section end -->
</div>

<div layout:fragment="content">
    <section class="elements-section">
        <div class="container">
            <div class="element">
                <h2 class="card-title" align="center">나의 정보</h2>
                <table class="table tabl-lg text-center mb-0 qna-table">
                    <tr>
                        <th class="align-middle my-no">회원번호</th>
                        <td>
                            <input type="text" class="form-control form-control" name="mno" id="mno"
                                   th:value="${member.mno}" readonly>
                        </td>
                    </tr>

                    <tr>
                        <th class="align-middle my-name">이름</th>
                        <td>
                            <input type="text" class="form-control form-control" name="mname" id="mname"
                                   th:value="${member.mname}" readonly>
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle my-phone">연락처</th>
                        <td>
                            <input type="button" value="수정" class="modifyHP" onclick="openPhoneModal()">
                            <input type="text" class="form-control" name="phone" id="phone" th:value="${member.phone}">
                        </td>
                    </tr>
                    <div id="phoneModal" class="modal">
                        <div class="modal-content">
                            <span class="close" onclick="closePhoneModal()">&times;</span>
                            <label for="newPhone">새 연락처:</label>
                            <input type="text" id="newPhone">
                            <button onclick="updatePhone()">수정</button>
                        </div>
                    </div>

                    <tr>
                        <th class="align-middle my-age">나이</th>
                        <td>
                            <input type="text" class="form-control form-control" name="age" id="age"
                                   th:value="${member.age}" readonly>
                        </td>
                    </tr>

                    <tr>
                        <th class="align-middle my-role">회원등급</th>
                        <td>
                            <input type="text" class="form-control form-control" name="role" id="role"
                                   th:value="${member.role}" readonly>
                        </td>
                    </tr>

                    <tr>
                        <th class="align-middle my-regDate">등록일자</th>
                        <td>
                            <input type="text" class="form-control form-control" name="regDate" id="regDate"
                                   th:value="${#dates.format(member.regDate, 'yyyy-MM-dd')}" readonly>
                        </td>
                    </tr>

                    <tr>
                        <th class="align-middle my-endDate">종료일자</th>
                        <td>
                            <input type="text" class="form-control form-control" name="endDate" id="endDate"
                                   th:value="${#dates.format(member.endDate, 'yyyy-MM-dd')}" readonly>
                        </td>
                    </tr>


                    <tr>
                        <td colspan="2">
                                <button type="button" class="btn btn-danger pl-5 pr-5" onclick="showWithdrawWarning()">회원 탈퇴</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
</div>

<script layout:fragment="script" th:inline="javascript">
    // 모달 열기
    function openPhoneModal() {
        document.getElementById('phoneModal').style.display = 'block';
    }

    // 모달 닫기
    function closePhoneModal() {
        document.getElementById('phoneModal').style.display = 'none';
    }

    // 연락처 수정
    function updatePhone() {
        var newPhoneValue = document.getElementById('newPhone').value;

        // Ajax 요청
        $.ajax({
            type: 'POST',
            url: '/member/updatePhone',
            data: {newPhone: newPhoneValue},
            success: function (response) {
                console.log('연락처 수정 성공');
                // 모달 닫기
                closePhoneModal();

                // mypage의 연락처 업데이트
                updatePhoneNumberOnPage(newPhoneValue);
            },
            error: function (error) {
                console.error('연락처 수정 실패');
            }
        });
    }

    // 페이지의 연락처 업데이트
    function updatePhoneNumberOnPage(newPhoneValue) {
        // 연락처를 보여주는 엘리먼트의 ID를 확인하고 해당 엘리먼트를 업데이트
        document.getElementById('phone').value = newPhoneValue;
    }

    // // Thymeleaf를 사용하여 경고 메시지 표시
    // function showWithdrawWarning() {
        const mno = [[${member.mno}]]

        // Thymeleaf를 사용하여 경고 메시지 표시
        function showWithdrawWarning() {
            // 경고 메시지 창 띄우기
            var confirmResult = confirm("회원 탈퇴를 진행하시겠습니까?")
            console.log(confirmResult)
            if (confirmResult === true) {
                // 여기에 실제 회원 탈퇴 로직을 호출하는 코드를 추가
                console.log(confirmResult)
                $.ajax({
                    type: 'GET', // 혹은 POST, PUT, DELETE에 맞게 변경
                    url: `/member/remove?mno=${mno}`, // Thymeleaf 표현식 사용
                    success: function (response) {
                        console.log('회원 탈퇴 성공');
                        location.href = '/';
                        // 여기에서 필요한 처리를 추가
                    },
                    error: function (error) {
                        console.log('회원 탈퇴 실패');
                        // 실패 시의 처리를 추가ㅊ
                    }
                });
            } else if (confirmResult === false) {
                console.log("취소")
                // 취소 버튼 클릭 시 모달 창 닫기
            }

    }

</script>

