<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">
    <div class="container">
    <h2> My Page </h2>
            <div class="form-group mt-3">
                <label for="mno"> 회원번호 </label>
                <input type="text" class="form-control" name="mno" id="mno" th:value="${member.mno}" readonly>
            </div>

            <div class="form-group mt-3">
                <label for="mname"> 이름 </label>
                <input type="text" class="form-control" name="mname" id="mname" th:value="${member.mname}" readonly>
            </div>

            <div class="form-group mt-3">
                <label for="phone"> 연락처 </label>
                <input type="button" value="수정" class="modifyHP" onclick="openPhoneModal()">
                <input type="text" class="form-control" name="phone" id="phone" th:value="${member.phone}">
            </div>

            <div id="phoneModal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closePhoneModal()">&times;</span>
                    <label for="newPhone">새 연락처:</label>
                    <input type="text" id="newPhone">
                    <button onclick="updatePhone()">수정</button>
                </div>
            </div>

            <div class="form-group mt-3">
                <label for="age"> 나이 </label>
                <input type="text" class="form-control" name="age" id="age" th:value="${member.age}" readonly>
            </div>

            <div class="form-group mt-3">
                <label for="role"> 회원등급 </label>
                <input type="text" class="form-control" name="role" id="role" th:value="${member.role}" readonly>
            </div>

            <div class="form-group mt-3">
                <label for="regDate"> 등록일자 </label>
                <input type="text" class="form-control" name="regDate" id="regDate" th:value="${#dates.format(member.regDate, 'yyyy-MM-dd')}" readonly>
            </div>

            <div class="form-group mt-3">
                <label for="endDate"> 종료일자 </label>
                <input type="text" class="form-control" name="endDate" id="endDate" th:value="${#dates.format(member.endDate, 'yyyy-MM-dd')}" readonly>
            </div>

            <div class="form-group mt-3">
                <label for="cnum"> 개인사물함번호 </label>
                <input type="text" class="form-control" name="cnum" id="cnum" th:value="${member.cnum}" readonly>
            </div>



            <div class="form-group mt-3">
                <a th:href="|@{/member/remove(mno=${member.mno})}|">
                <button type="button" class="btn btn-primary">회원 탈퇴</button>
                </a>
<!--                <button type="reset" class="btn btn-secondary">Reset</button>-->
<!--                <button type="reset" class="btn btn-secondary">Reset</button>-->
            </div>
        </form>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">
    // 모달 열기
    function openPhoneModal() {
        document.getElementById('phoneModal').style.display = 'block';
    }

    // 모달 닫기
    function closePhoneModal() {
        document.getElementById('phoneModal').style.display = 'none';
    }
    // 연락처 수정
    function updatePhone() {
        var newPhoneValue = document.getElementById('newPhone').value;

        // Ajax 요청
        $.ajax({
            type: 'POST',
            url: '/member/updatePhone',
            data: { newPhone: newPhoneValue },
            success: function (response) {
                console.log('연락처 수정 성공');
                // 모달 닫기
                closePhoneModal();

                // mypage의 연락처 업데이트
                updatePhoneNumberOnPage(newPhoneValue);
            },
            error: function (error) {
                console.error('연락처 수정 실패');
            }
        });
    }

    // 페이지의 연락처 업데이트
    function updatePhoneNumberOnPage(newPhoneValue) {
        // 연락처를 보여주는 엘리먼트의 ID를 확인하고 해당 엘리먼트를 업데이트
        document.getElementById('phone').value = newPhoneValue;
    }


</script>

