.qna-list-table td, .qna-list-table th {
    border-left: none;
    border-right: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.qna-list-link {
    color: #0d0d0d;
}
.qna-list-link:hover {
    color: #0d0d0d;
}

