<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/basic.html}"
	  lang="en">
<div layout:fragment="title">
	<!-- Hero section -->
	<section class="hero-section set-bg" data-setbg="img/hero-bg.jpg">
		<div class="container">
			<div class="hero-text">
				<h2>Physical activity</h2>
				<h2>enhances <span>positive energy!</span></h2>
				<a href="/member/join" class="site-btn">Join the Gym</a>
			</div>
		</div>
	</section>
	<!-- Hero section end -->
</div>
<div layout:fragment="content">
<!--	&lt;!&ndash; Feature section &ndash;&gt;-->
<!--	<section class="feature-section">-->
<!--		<div class="container">-->
<!--			<div class="row justify-content-md-center">-->
<!--				<div class="col-lg-8">-->
<!--					<div class="section-title text-center">-->
<!--						<h2>The real <span>workout</span> starts when you want to stop. </h2>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="row">-->
<!--				<div class="col-md-4">-->
<!--					<div class="icon-box-item">-->
<!--						<div class="ib-icon">-->
<!--							<i class="flaticon-004-dumbbell"></i>-->
<!--						</div>-->
<!--						<h4>Intense Workouts</h4>-->
<!--						<p>Donec nec sapien in urna fermentum ornare. Morbi vel ultrices leo. Sed eu turpis eu arcu vehicula fringilla ut vitae orci. </p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-md-4">-->
<!--					<div class="icon-box-item">-->
<!--						<div class="ib-icon">-->
<!--							<i class="flaticon-031-app-1"></i>-->
<!--						</div>-->
<!--						<h4>Intense Workouts</h4>-->
<!--						<p>Donec nec sapien in urna fermentum ornare. Morbi vel ultrices leo. Sed eu turpis eu arcu vehicula fringilla ut vitae orci. </p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-md-4">-->
<!--					<div class="icon-box-item">-->
<!--						<div class="ib-icon">-->
<!--							<i class="flaticon-010-podium"></i>-->
<!--						</div>-->
<!--						<h4>Intense Workouts</h4>-->
<!--						<p>Donec nec sapien in urna fermentum ornare. Morbi vel ultrices leo. Sed eu turpis eu arcu vehicula fringilla ut vitae orci. </p>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</section>-->
	<!-- Feature section end -->

	<!-- Add section -->
<!--	<section class="add-section set-bg" data-setbg="img/add-bg.jpg">-->
<!--		<div class="container">-->
<!--			<div class="row">-->
<!--				<div class="col-lg-7 ml-auto">-->
<!--					<div class="add-text">-->
<!--						<h2>Pay now and get a 25% <span>Discount</span></h2>-->
<!--						<ul>-->
<!--							<li><img src="/img/check-icon.png" alt="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>-->
<!--							<li><img src="/img/check-icon.png" alt="">Risus commodo viverra maecenas accumsan lacus vel facilisis.</li>-->
<!--							<li><img src="/img/check-icon.png" alt="">Ipsum dolor sit amet, consectetur adipiscing elit, sed do.</li>-->
<!--						</ul>-->
<!--						<a href="#" class="site-btn">Become a Member</a>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</section>-->
	<!-- Add section end -->

	<!-- Milestones section -->
<!--	<section class="milestones-section">-->
<!--		<div class="container">-->
<!--			<div class="row">-->
<!--				<div class="col-lg-3 col-sm-6">-->
<!--					<div class="milestone">-->
<!--						<h2>1374</h2>-->
<!--						<p>Happy Clients</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-3 col-sm-6">-->
<!--					<div class="milestone">-->
<!--						<h2>356</h2>-->
<!--						<p>Strong Bodies</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-3 col-sm-6">-->
<!--					<div class="milestone">-->
<!--						<h2>57k</h2>-->
<!--						<p>IG Followers</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-3 col-sm-6">-->
<!--					<div class="milestone">-->
<!--						<h2>24/7</h2>-->
<!--						<p>Working Hours</p>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</section>-->
	<!-- Milestones section end -->

	<li><a href="/contact">contact</a></li>
	<li><a href="/classes">classes</a></li>
	<li><a href="/blog">blog</a></li>
	<li><a href="/about">about</a></li>
	<li><a href="/main">main</a></li>
	<li><a href="/index2">index2</a></li>

	<!-- Trainers section -->
	<section class="trainers-section">
		<div class="container">
			<div class="section-title text-center">
				<h2>Meet the <span>Trainers</span></h2>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="trainer-item">
						<div class="trainer-pic">
							<img src="/img/trainers/1.jpg" alt="">
						</div>
						<h4>강사 1</h4>
						<p>강사설명 ~~~~~~~~~~~~~~~~</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="trainer-item">
						<div class="trainer-pic">
							<img src="/img/trainers/2.jpg" alt="">
						</div>
						<h4>강사 2</h4>
						<p>강사설명 ~~~~~~~~~~~~~~~~</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="trainer-item">
						<div class="trainer-pic">
							<img src="/img/trainers/3.jpg" alt="">
						</div>
						<h4>강사 3</h4>
						<p>강사설명 ~~~~~~~~~~~~~~~~</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="trainer-item">
						<div class="trainer-pic">
							<img src="/img/trainers/4.jpg" alt="">
						</div>
						<h4>강사 4</h4>
						<p>강사설명 ~~~~~~~~~~~~~~~~</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Trainers section end -->
	<section class="section" id="trainers">
		<div class="container">
			<div class="row">
			<div class="col-lg-4">
				<div class="trainer-item">
					<div class="image-thumb">
						<img src="assets/images/first-trainer.jpg" alt="">
					</div>
					<div class="down-content">
						<span>Strength Trainer</span>
						<h4>강사 1</h4>
						<p>강사설명~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="trainer-item">
					<div class="image-thumb">
						<img src="assets/images/second-trainer.jpg" alt="">
					</div>
					<div class="down-content">
						<span>Muscle Trainer</span>
						<h4>강사 2</h4>
						<p>강사설명~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="trainer-item">
					<div class="image-thumb">
						<img src="assets/images/third-trainer.jpg" alt="">
					</div>
					<div class="down-content">
						<span>Power Trainer</span>
						<h4>강사 3</h4>
						<p>강사설명~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>

	<!-- BMI section -->
<!--	<section class="bmi-section spad">-->
<!--		<div class="bmi-bg set-bg" data-setbg="/img/bmi-bg.jpg"></div>-->
<!--		<div class="container">-->
<!--			<div class="row">-->
<!--				<div class="col-lg-7 ml-auto">-->
<!--					<div class="section-title mb-0">-->
<!--						<h2>Calculate your <span>BMI</span></h2>-->
<!--						<p>Vivamus libero mauris, bibendum eget sapien ac, ultrices rhoncus ipsum nec sapien.Vivamus libero mauris, bibendum eget sapien ac, ultrices rhoncus ipsum nec sapien.</p>-->
<!--					</div>-->
<!--					<div class="bmi-calculator-warp">-->
<!--						<div class="bmi-calculator">-->
<!--							<div class="row">-->
<!--								<div class="col-sm-6">-->
<!--									<input type="text" placeholder="Weight (KG)" id="bmi-weight">-->
<!--								</div>-->
<!--								<div class="col-sm-6">-->
<!--									<input type="text" placeholder="Hight (M)" id="bmi-hight">-->
<!--								</div>-->
<!--								<div class="col-sm-6">-->
<!--									<button class="site-btn" id="bmi-submit">Calculate</button>-->
<!--								</div>-->
<!--								<div class="col-sm-6">-->
<!--									<input type="text" id="bmi-result" readonly>-->
<!--								</div>-->
<!--							</div>-->
<!--							<p>Vivamus libero mauris, bibendum eget sapien ac, ultrices rhoncus ipsum nec sapien.Vivamus libero mauris, bibendum.</p>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</section>-->
	<!-- BMI section end -->
	<!-- 지도 영역 -->
	<section class="contact-section">
		<div class="container">
			<div class="section-title text-center">
				<h2>Location</h2>
			</div>
			<div class="row">
				<div class="col">
					<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d815.5049825895264!2d129.05932596964922!3d35.156123694766286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3568eb6f9208b963%3A0x77295a1333ca8ed!2z67aA7IKw6rSR7Jet7IucIOu2gOyCsOynhOq1rCDshJzsoITroZwxMOuyiOq4uCAzOQ!5e0!3m2!1sko!2skr!4v1704329328433!5m2!1sko!2skr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
				<div class="col" >
					<div class="text-center" style="margin-top:25%;">
						<h5>운영시간</h5>
						<p>월-금 06:00 ~ 24:00</p>
						<p>토-일, 공휴일 08:00 ~ 20:00</p><br>

						<h5>주 소</h5>
						<p>-----------------</p><br>

						<h5>찾아오시는 길</h5>
						<p>지하철역 | --------------</p>
						<p>버스 | --------------</p>
						<p>자가용 | --------------</p>

					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Newsletter section  -->
<!--	<section class="newsletter-section set-bg" data-setbg="/img/newsletter-bg.jpg">-->
<!--		<div class="container">-->
<!--			<div class="row">-->
<!--				<div class="col-lg-6">-->
<!--					<div class="section-title text-white mb-0">-->
<!--						<h2>Subscribe to <span>newsletter</span></h2>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-6">-->
<!--					<form class="newsletter-form">-->
<!--						<input type="text" placeholder="Your e-mail here">-->
<!--						<button class="site-btn" type="submit">Subscribe</button>-->
<!--					</form>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</section>-->
	<!-- Newsletter section end -->
</div>