<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic.html}"
      lang="en">
<div layout:fragment="title">
    <!-- Hero section -->
    <section class="hero-section set-bg" data-setbg="img/hero-bg.jpg">
        <div class="container">
            <div class="hero-text">
                <h2>Physical activity</h2>
                <h2>enhances <span>positive energy!</span></h2>
                <a href="/member/join" class="site-btn">Join the Gym</a>
            </div>
        </div>
    </section>
    <!-- Hero section end -->
</div>


<div layout:fragment="content">
    <section class="trainers-section shadow-sm p-5 mb-3 bg-white rounded" id="trainers">
        <div class="container">
            <div class="section-title text-center">
                <h2>Trainer <span>Information</span></h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="assets/images/first-trainer.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <span>Strength Trainer</span>
                            <h4>강사 1</h4>
                            <p>강사설명~~~~~~
                                ~~~~~~~~~~~~~~~~
                                ~~~~~~~~~~~~</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="assets/images/second-trainer.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <span>Muscle Trainer</span>
                            <h4>강사 2</h4>
                            <p>asasdasdasd asd asd asd asd asd asd asd asd as dasdsd as dasdsd as dasdsd as dasdsd as
                                dasd</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="assets/images/third-trainer.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <span>Power Trainer</span>
                            <h4>강사 3</h4>
                            <p>강사설명~~~~~~~~~
                                ~~~~~~~~~~~~~~~~~
                                ~~~~~~~~</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="assets/images/third-trainer.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <span>Power Trainer</span>
                            <h4>강사 4</h4>
                            <p>강사설명~~~~~
                                ~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 지도 영역 -->
    <section class="location-section shadow-sm p-5 mb-3 bg-white rounded">
        <div class="container">
            <div class="section-title text-center">
                <h2>Location</h2>
            </div>
            <div class="row">
                <div class="col-6">
                    <iframe class="map"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d815.5049825895264!2d129.05932596964922!3d35.156123694766286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3568eb6f9208b963%3A0x77295a1333ca8ed!2z67aA7IKw6rSR7Jet7IucIOu2gOyCsOynhOq1rCDshJzsoITroZwxMOuyiOq4uCAzOQ!5e0!3m2!1sko!2skr!4v1704329328433!5m2!1sko!2skr"
                            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-6">
                    <div class="location-info text-left" style="margin-top:10%;">
                        <h3>운영시간</h3>
                        <p>월-금 06:00 ~ 24:00</p>
                        <p>토-일, 공휴일 08:00 ~ 20:00</p><br>

                        <h3>주 소</h3>
                        <p>-----------------</p><br>

                        <h3>찾아오시는 길</h3>
                        <p>지하철역 | --------------</p>
                        <p>버 스 | --------------</p>
                        <p>자가용 | --------------</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--지도영역 끝-->
    <!-- Contact section -->
    <section class="contact-section shadow-sm p-3 bg-white rounded">
        <div class="container">
            <div class="section-title text-center">
                <h2>Contact Us</h2>
            </div>
            <div class="contact-box">
                <form class="contact-form">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" placeholder="Your name">
                        </div>
                        <div class="col-md-6">
                            <input type="text" placeholder="Your e-mail">
                        </div>
                        <div class="col-md-12">
                            <input type="text" placeholder="Subject">
                            <textarea placeholder="Message"></textarea>
                            <button class="site-btn">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>