<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic.html}"
      lang="en">


<div layout:fragment="title">
    <!-- Page top section -->
    <section class="page-top-section set-bg" data-setbg="/img/header-bg/5.jpg">
        <div class="container">
            <h2>Q&A</h2>
        </div>
    </section>
    <!-- Page top section end -->
</div>
<div layout:fragment="content">
    <section class="elements-section">
        <div class="container">
            <div class="element">
                <h2 class="el-title text-center">질문작성</h2>
                <table class="table table-bordered table-lg text-center mb-0">
                    <form action="/QnA/register" method="post" enctype="multipart/form-data">
                        <tr>
                            <th class="align-middle">제목</th>
                            <td>
                                <input type="text" id="title" name="title" class="form-control form-control"
                                       placeholder="제목을 입력하세요.">
                            </td>
                        </tr>
                        <tr>
                            <th class="align-middle">제목</th>
                            <td>
                                <input type="text" id="writer" name="writer" class="form-control form-control"
                                       placeholder="이름을 입력하세요.">
                            </td>
                        </tr>
                        <tr>
                            <th class="align-middle">내용</th>
                            <td>
                                <textarea rows="10" class="form-control" placeholder="내용을 입력하세요"
                                          name="content" id="content" style="resize: none"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th class="align-middle">파일</th>
                            <td>
                                <div class="file_list">
                                    <div class="file_input filebox">
                                        <input class="upload-name" value="첨부파일" placeholder="첨부파일" readonly>
                                        <label for="file">파일찾기</label>
                                        <input type="file" id="file">
                                        <button class="btn btn-outline-danger">
                                            <i class="fa-solid fa-circle-minus" style="color: #ff3547;"></i> 삭제
                                        </button>
                                        <button class="btn btn-outline-info">
                                            <i class="fa-solid fa-circle-plus" style="color: #33b5e5;"></i> 추가
                                        </button>
                                    </div>

                                </div>
                            </td>
                        </tr>
                    </form>
                </table>
            </div>
        </div>
    </section>
    <!-- Elements section end -->
</div>

<script layout:fragment="script" th:inline="javascript">
    $("#file").on('change',function(){
        var fileName = $("#file").val().split("\\").pop();
        $(".upload-name").val(fileName);
    });

    // 파일 선택
    function selectFile(element) {
        const file = element.files[0];
        const filename = element.closest('.file_input').firstElementChild;

        // 1. 파일 선택 창에서 취소 버튼이 클릭된 경우
        if ( !file ) {
            filename.value = '';
            return false;
        }

        // 2. 파일 크기가 10MB를 초과하는 경우
        const fileSize = Math.floor(file.size / 1024 / 1024);
        if (fileSize > 10) {
            alert('10MB 이하의 파일로 업로드해 주세요.');
            filename.value = '';
            element.value = '';
            return false;
        }

        // 3. 파일명 지정
        filename.value = file.name;
    }


    // 파일 추가
    function addFile() {
        const fileDiv = document.createElement('div');
        fileDiv.innerHTML =`
            <div class="file_input">
                <input type="text" readonly />
                <label> 첨부파일
                    <input type="file" name="files" onchange="selectFile(this);" />
                </label>
            </div>
            <button type="button" onclick="removeFile(this);" class="btns del_btn"><span>삭제</span></button>
        `;
        document.querySelector('.file_list').appendChild(fileDiv);
    }


    // 파일 삭제
    function removeFile(element) {
        const fileAddBtn = element.nextElementSibling;
        if (fileAddBtn) {
            const inputs = element.previousElementSibling.querySelectorAll('input');
            inputs.forEach(input => input.value = '')
            return false;
        }
        element.parentElement.remove();
    }
    출처: https://congsong.tistory.com/39 [Let's develop:티스토리]
</script>