<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/layout/basic.html}"
      lang="en">


<div layout:fragment="title">
    <!-- Page top section -->
    <section class="page-top-section set-bg" data-setbg="/img/header-bg/5.jpg">
        <div class="container">
            <h2>Q&A</h2>
        </div>
    </section>
    <!-- Page top section end -->
</div>
<div layout:fragment="content">
    <section class="elements-section">
        <div class="container">
            <div class="element">
                <!--                <h2 class="el-title text-center">목록</h2>-->
                <div class="qna-view-con">
                    <!-- 버튼부 -->
                    <div class="d-flex justify-content-end mb-3 w-100">
                        <button class="btn btn-outline-dark" onclick="location.href='/QnA/list'">
                            목록
                        </button>
                        <th:block sec:authorize="isAuthenticated()" th:if="${#authentication.name == dto.writer}">
                            <a th:href="|@{/QnA/remove(qnabno=${dto.qnabno})}|">
                                <button class="btn btn-outline-danger ml-3">
                                    삭제
                                </button>
                            </a>
                        </th:block>
                        <th:block th:if="${dto.answer == false}">
                            <th:block sec:authorize="isAuthenticated()" th:if="${#authentication.name == dto.writer}">
                                <a th:href="|@{/QnA/modify(qnabno=${dto.qnabno})}&${pageRequestDTO.getLink()}|">
                                    <button class="btn btn-outline-dark ml-3">
                                        수정
                                    </button>
                                </a>
                            </th:block>
                            <!-- <li sec:authorize="isAuthenticated()"><a href="/member/mypage" >My Page</a></li>-->
                            <a th:href="|@{/QnA/answer/register(qnabno=${dto.qnabno})}|" sec:authorize="hasAuthority('관리자')">
                                <button class="btn btn-outline-success ml-3">
                                    답변 작성
                                </button>
                            </a>
                        </th:block>
                    </div>
                    <div class="qna-view-q">
                        <!-- 상단부 -->
                        <div class="qna-view-q-title">
                            <div class="d-flex justify-content-between qna-view-q-title-top">
                                <th:block th:if="${dto.answer == false}">
                                    <div class="rounded-lg p-1 pl-2 pr-2 align-middle"
                                         style="background-color: #eee; border: 1px solid ">
                                        답변대기
                                    </div>
                                </th:block>
                                <th:block th:unless="${dto.answer == false}">
                                    <div class="rounded-lg border border-success p-1 pl-2 pr-2 align-middle"
                                         style="background-color: #d5f5dc;">
                                        답변완료
                                    </div>
                                </th:block>
                                <div>
                                    <span th:text="${#temporals.format(dto.writedate, 'YYYY-MM-DD')}"></span>
                                    <span class="ml-3">작성자 [[${dto.writer}]]</span>
                                </div>
                            </div>
                            <div>
                                <h3>[[${dto.title}]]</h3>
                            </div>
                        </div>
                        <div class="qna-view-q-content">
                            [[${dto.content}]]
                        </div>
                        <div class="qna-view-q-file">
                            <div class="list-group">
                                <th:block th:each="file:${fileList}">
                                    <a th:href="|@{/QnA/download/{filename}(filename=${file.uuid+'_'+file.filename})}|" class="list-group-item list-group-item-action">
                                        <span>[[${file.filename}]]</span>
                                        <span><i class="fa-solid fa-link"></i></span>
                                    </a>
                                </th:block>
                            </div>
                        </div>
                    </div>
                    <th:block th:if="${answer != null}">
                        <div class="qna-view-a">
                            <div class="qna-view-a-title">
                                <div class="d-flex justify-content-end qna-view-q-title-top">
                                    <div>
                                        <span th:text="${#temporals.format(answer.writedate, 'YYYY-MM-DD')}"></span>
                                        <span class="ml-3">작성자 [[${answer.writer}]]</span>
                                    </div>
                                </div>
                                <div>
                                    <h3>[[${answer.title}]]</h3>
                                </div>
                            </div>
                            <div class="qna-view-q-content">
                                [[${answer.content}]]
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </section>
    <!-- Elements section end -->
</div>

<script layout:fragment="script" th:inline="javascript">

</script>