<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic.html}"
      lang="en">
<div layout:fragment="title">
    <!-- Page top section -->
    <section class="page-top-section set-bg" data-setbg="/img/header-bg/5.jpg">
        <div class="container">
            <h2>P.T 예약</h2>
        </div>
    </section>
    <!-- Page top section end -->
</div>

<div layout:fragment="content">
    <section class="elements-section el-title align-items-center">
        <div class="container">
            <div class="element">
                <h2 class="el-title text-center">목록</h2>
                <div class="container mb-1">
                    <form action="/ptreserve/trainer" method="get">
                        <table class="table table-lg text-center mb-0 qna-table qna-list-table">
                            <tr align="center">
                                <th>
                                    <img src="/img/trainers/1.jpg" class="rounded-circle" alt="Cinque Terre" width="300" height="300">
                                    <h2>트레이너1</h2>
                                    <button class="btn btn-outline-secondary clearBtn" type="button" onClick="location.href='/ptreserve/calendar?tno=1'">예약하기</button>
                                </th>
                                <th>
                                    <img src="/img/trainers/2.jpg" class="rounded-circle" alt="Cinque Terre" width="300" height="300">
                                    <h2>트레이너2</h2>
                                    <button class="btn btn-outline-secondary clearBtn" type="button" onClick="location.href='/ptreserve/calendar?tno=2'">예약하기</button>
                                </th>
                                <th>
                                    <img src="/img/trainers/3.jpg" class="rounded-circle" alt="Cinque Terre" width="300" height="300">
                                    <h2>트레이너3</h2>
                                    <button class="btn btn-outline-secondary clearBtn" type="button" onClick="location.href='/ptreserve/calendar?tno=3'">예약하기</button>
                                </th>
                                <th>
                                    <img src="/img/trainers/4.jpg" class="rounded-circle" alt="Cinque Terre" width="300" height="300">
                                    <h2>트레이너4</h2>
                                    <button class="btn btn-outline-secondary clearBtn" type="button" onClick="location.href='/ptreserve/calendar?tno=4'">예약하기</button>
                                </th>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</html>
